<nav class="navbar navbar-expand-lg navbar-light" th:fragment="navbar" xmlns:th="http://www.thymeleaf.org">
    <a class="navbar-brand" href="/">
        <div class="brand"></div>
    </a>
    <button class="navbar-menu-icon navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav menu-point">
            <li class="nav-item navbar-ul navbar-nav mr-auto" th:each="n : ${nav}">
                <a class="nav-link active mx-2" th:href="${n.getKey()}" th:text="${n.getValue()}"></a>
            </li>
        </ul>

        <div class="welcome-message-block">
            <div class="hello" th:if="${isLogged}">
                <h5 class="user-name form-inline mx-2 my-lg-0">
                    Hello, [[${#httpServletRequest.remoteUser}]]!
                </h5>
            </div>
            <div th:if="${isLogged}">
                <form th:replace="/fragments/logout :: loginout"></form>
            </div>
            <div class="log-btn" th:if="${!isLogged}">
                <a id="registration1" href="/registration">Registration</a>
                <button data-toggle="modal" data-target="#exampleModalCenter" type="button" id="logBtn1" class="btn btn-sm btn-secondary">
                    Log in
                </button>
            </div>
        </div>
    </div>

    <!-- Modal Form -->
    <div th:replace="/fragments/modal-login :: modal-form"></div>
</nav>