<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar" xmlns:th="http://www.thymeleaf.org">
    <a class="navbar-brand" href="/">Planarry</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto menu-ul">
            <li class="nav-item" th:each="n : ${nav}">
                <a class="nav-link" th:href="${n.getKey()}" th:text="${n.getValue()}"></a>
            </li>
        </ul>

        <div class="welcome-message-block">
            <div class="hello" th:if="${isLogged}">
                <h5 class="user-name form-inline mx-2 my-lg-0">
                    Hello, [[${#httpServletRequest.remoteUser}]]!
                </h5>
            </div>
            <div th:if="${isLogged}">
                <form th:replace="/fragments/logout :: loginout"></form>
            </div>
            <div th:if="${!isLogged}">
                <a class="mx-2" id="registration1" href="/registration">Registration</a>
                <button class="btn btn-sm btn-secondary my-2 my-sm-0" data-toggle="modal" data-target="#exampleModalCenter" type="button" id="log-btn">Log In</button>
            </div>
        </div>
    </div>
</nav>
