<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/fragments/header :: head"></head>
    <body>
        <div class="top-div"></div>

        <nav th:replace="/fragments/navbar :: navbar"></nav>

        <!-- Modal Form -->
        <div th:replace="/fragments/modal-login :: modal-form"></div>

        <div class="container">
            <h5 class="about-title">About</h5>

            <p class="about-p-main">
                Компания Planarry занимается исследованиями и ведет разработки в области автоматизации логистических процессов уже более 10 лет. Бренд “Planarry” сам по себе появился в 2017 году и является выдуманным словом, произошедшим из сочетания двух английских слов plan и carry, и обозначает “Составлять выполнимые планы доставок и осуществлять их”.
            </p>
            <p class="about-p">
                Посвятив эти годы исследованиям и разработкам, компания сосредоточилась на достаточно узком направлении, это автоматизация доставок, и смогла довольно далеко продвинуться в этом направлении. Главных проблем с которыми столкнулись разработчики было две. Первая, это большой объем вычислений дл я построения оптимальных маршрутов с учетом всех требований и ограничений. Такой объем вычислений не сможет потянуть ни один современный компьютер, ни компьютеры, которые могут появиться в обозримом будущем. Второе, это методики на которых строят доставку логистические и курьерские компании не позволяют использовать ресурсы оптимально и соответственно автоматизация таких компаний может быть лишь ограниченной.

                Группе разработчиков Planarry на своем пути пришлось находить свои решения и ноу-хау, и разрабатывать методики построения служб доставок. В конечном итоге работа была сделана, и сегодня компания может заявить, что инструменты и сервисы, которые она дает позволяют составлять планы доставок с учетом всех влияющих факторов, планы, которые будут выполняться, а значит получатели получат свои грузы и заказы вовремя!

                Сейчас мы вывели на рынок систему управления доставками, которая на данный момент не имеет аналогов. Следом за ней будет запущен еще целый ряд сопутствующих сервисов. Конечная цель всех разработок, это глобальное объединение всех логистических ресурсов в одной системе. Это то, к чему рано или поздно придет мировой бизнес.
            </p>
        </div>
    </body>
</html>