<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/fragments/header :: head"></head>
    <body>
        <nav th:replace="/fragments/navbar :: navbar"></nav>
        <div class="container">
            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:each="theme : ${themes}">
                        <a th:href="${theme.getThemeTitle()}" th:text="${theme.getThemeTitle()}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>