<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: head"></head>
    <body>
        <div class="top-div"></div>

        <nav th:replace="/fragments/navbar :: navbar"></nav>

        <div class="container">
            <h5 class="concrete-comment-delete-title">Topic</h5>

            <div class="concrete-theme-description">
                <label class="concrete-theme-desc-label">Topic name:</label>
                <p class="concrete-theme-desc-p" th:text="${theme.getThemeTitle()}"></p>

                <label class="concrete-theme-desc-label">Date:</label>
                <p class="concrete-theme-desc-p" th:text="${theme.getCreationDate()}"></p>

                <label class="concrete-theme-desc-label">Description:</label>
                <p class="concrete-theme-desc-p" th:text="${theme.getDescription()}"></p>
            </div>

            <div class="comments">
                <h5 class="all-comments-title">Comments</h5>

                <ul class="comments-ul">
                    <li class="concrete-theme-li" th:each="comment : ${comments}">
                        <div>
                            <div class="comment-title">
                                <p class="title concrete-comment-title" th:id="${'title-id-' + comment.getId()}" th:text="${theme.getThemeTitle()}"></p>
                                <p class="author concrete-comment-author" th:text="${comment.getAuthor()}"></p>
                                <p class="date concrete-comment-date" th:text="${comment.getDate()}"></p>
                            </div>
                            <div>
                                <p class="inner-comment-text" th:text="${comment.getComment()}"></p>
                            </div>
                            <div class="comment-footer">
                                <form method="post" id="delete-comment-form" th:action="@{/comment/delete}">
                                    <button th:id="${comment.getId()}" class="comment-delete-btn btn btn-success">
                                        Delete
                                    </button>
                                    <input name="delete-comment-id" type="hidden" id="comment-delete-theme-title" th:value="${comment.getId()}">
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>