<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/fragments/header :: head"></head>
    <body>
        <nav th:replace="/fragments/navbar :: navbar"></nav>
        <div class="container">
            <div>
                <p th:text="${theme.getThemeTitle()}"></p>
                <p th:text="${theme.getCreationDate()}"></p>
                <p th:text="${theme.getDescription()}"></p>
            </div>
            <div>
                <p>

                </p>
            </div>
        </div>
    </body>
</html>