<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: head"></head>
    <body>
        <nav th:replace="/fragments/navbar :: navbar"></nav>

        <div class="container">
            <div>
                <h1>POST</h1>
                <p th:text="${theme.getThemeTitle()}"></p>
                <p th:text="${theme.getCreationDate()}"></p>
                <p th:text="${theme.getDescription()}"></p>
            </div>

            <div class="comments">
                <h1>Comments</h1>

                <ul>
                    <li th:each="comment : ${comments}">
                        <div>
                            <div class="comment-title">
                                <p class="title" th:id="${'title-id-' + comment.getId()}" th:text="${theme.getThemeTitle()}"></p>
                                <p class="author" th:text="${comment.getAuthor()}"></p>
                                <p class="date" th:text="${comment.getDate()}"></p>
                            </div>
                            <div class="comment-text">
                                <p class="inner-comment-text" th:text="${comment.getComment()}"></p>
                            </div>
                            <div class="comment-footer">
                                <form method="post" id="delete-comment-form" th:action="@{/comment/delete}">
                                    <button th:id="${comment.getId()}" class="comment-delete-btn btn btn-success">
                                        Delete
                                    </button>
                                    <input name="delete-comment-id" type="hidden" id="comment-delete-theme-title" th:value="${comment.getId()}">
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>