<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: head"></head>
    <body>
        <div class="top-div"></div>

        <nav th:replace="/fragments/navbar :: navbar"></nav>

        <div class="modal fade" id="theme-update-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="update-user-title-modal" id="update-user-modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="update-user-form" method="post" th:action="@{/user/update}">
                        <div class="modal-body">
                            <div class="form-group row">
                                <input type="hidden" name="update-user-old-login" id="update-user-old-login" value="">
                                <label for="update-user-login" class="col-sm-2 col-form-label">Login</label>

                                <div class="col-sm-10">
                                    <input name="update-user-login" type="text" class="login-input-modal form-control"
                                           id="update-user-login" value="">
                                    <p class="forLoginMessage"></p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <input type="hidden" name="update-user-old-password" id="update-user-old-password" value="">
                                <label for="update-user-password" class="col-sm-2 col-form-label">Password</label>

                                <div class="col-sm-10">
                                    <input name="update-user-password" type="text" class="password-input-modal form-control"
                                           id="update-user-password">
                                    <p class="forPasswordMessage"></p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="update-user-email" class="col-sm-2 col-form-label">E-Mail</label>

                                <div class="col-sm-10">
                                    <input name="update-user-email" type="email" class="password-input-modal form-control"
                                           id="update-user-email">
                                    <p class="forPasswordMessage"></p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" id="" class="btn btn-secondary">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="container">
            <h5 class="update-user-title">Edit User</h5>

            <div class="row update-theme-main-div">
                <div class="col-4">
                    <div class="list-group update-theme-list-div" id="list-tab" role="tablist">
                        <a th:each="user : ${users}" class="list-group-item list-group-item-action" th:id="${user.getId()}" data-toggle="list"
                           th:href="${'#update-' + user.getId()}" role="tab" th:aria-controls="${user.getUsername()}"
                           th:text="${user.getUsername()}"></a>
                    </div>
                </div>
                <div class="col-8">
                    <div class="tab-content" id="nav-tabContent">
                        <div th:each="user : ${users}" class="tab-pane fade" th:id="${'update-' + user.getId()}"
                             role="tabpanel" th:aria-labelledby="${user.getId()}">

                            <label for="update-user-login" class="col-sm-2 col-form-label concrete-theme-desc-label">Login:</label>
                            <p th:id="${'login-' + user.getUsername()}" th:text="${user.getUsername()}" class="concrete-theme-desc-p"></p>

                            <label for="update-user-password" class="col-sm-2 col-form-label concrete-theme-desc-label">Password:</label>
                            <p th:id="${'p-' + user.getUsername()}" th:text="${user.getPassword()}" class="concrete-theme-desc-p"></p>

                            <label for="update-user-email" class="col-sm-2 col-form-label concrete-theme-desc-label">E-Mail:</label>
                            <p th:id="${'email-' + user.getUsername()}" th:text="${user.getEmail()}" class="concrete-theme-desc-p"></p>

                            <input type="hidden" th:id="${'oldName' + user.getUsername() + user.getPassword()}" th:value="${user.getUsername()}">
                            <input type="hidden" th:id="${'oldPassword' + user.getUsername() + user.getPassword()}" th:value="${user.getPassword()}">

                            <button th:id="${user.getUsername()}" type="button" class="update-user-btn btn btn-success" data-toggle="modal" data-target="#theme-update-modal">
                                Edit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>